.Header-navbarContainer {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 8px;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.Header-navbarLink {
  padding: 8px;
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  margin: 0 8px;
  border-radius: 8px;
}

.Header-navbarLink:hover {
  background-color: #6a9fc8;
  color: black;
}

.Header-navbarLink:visited {
  text-decoration: none;
  color: aliceblue;
}

.Header-navbarLink:active {
  text-decoration: none;
  color: black;
}

.active {
  background-color: #676ab6 /*rgb(70, 70, 70)*/;
}
