.bg {
  background-image: url(../assets/image3.png);
  flex: 1;
  animation: slide 360s linear infinite;
  z-index: 100; /*idk why but this messes w ordering? i thought neg number meant lower priority but idk*/
  display: flex;
  flex-direction: column;
}

@keyframes slide {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1222px 686px;
  }
}

h1 {
  font-size: 55px;
  font-weight: normal;
}

h2 {
  margin: 8px;
  padding: 8px;
  font-size: 40px;
  font-weight: normal;
  text-align: left;
}

h4 {
  margin: 8px;
  padding: 8px;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}

aside {
  font-weight: normal;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  font-style: italic;
  flex-basis: 70%;
  font-size: 16px;
}

.music {
  display: flex;
  padding: 0 16px 16px;
}

.Home-text {
  padding: 8px;
  text-wrap: wrap;
}

.Music-text {
  padding: 0 16px;
  text-wrap: wrap;
  text-align: left;
}

.Home-smallText {
  font-size: 20px;
}

a {
  width: fit-content;
}

a:link {
  color: white;
}

a:hover {
  color: #6a9fc8;
}

.Home-contactList {
  padding: 0;
  margin-top: 0;
}
