/* @import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

:root {
  font-family: "M PLUS 1 Code", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f5f5f5;
  background-color: #290547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* cursor: url("assets/star.png"), auto; */
}

@media (prefers-color-scheme: dark) {
  a:link {
    color: #c7aff5;
  }
  a:hover {
    color: #6a9fc8;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  /* container-type: inline-size; */
  max-width: 100%;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #290547;
    background-color: #ca92f7;
  }

  a:link {
    color: #621fab;
  }
  a:hover {
    color: #747bff;
  }
  /*button {
    background-color: #f9f9f9;
  } */
}
